body {
    background-color: #f7f7f7;
}

.navbar {
    background-color: #199eb8;
}

.btn.btn-primary {
    color: #fff;
    background-color: #199EB8;
    border-color: #199EB8;
}

.btn.btn-primary.focus,
.btn.btn-primary:focus {
    color: #fff;
    background-color: #0190b0;
    border-color: #0190b0;
    outline: none;
    box-shadow: none;
}

.btn.btn-primary:hover {
    color: #fff;
    background-color: #0190b0;
    border-color: #0190b0;
    outline: none;
    box-shadow: none;
}

.btn.btn-primary.active,
.btn.btn-primary:active {
    color: #fff;
    background-color: #0190b0;
    border-color: #0190b0;
    outline: none;
}

.btn.btn-primary.active.focus,
.btn.btn-primary.active:focus,
.btn.btn-primary.active:hover,
.btn.btn-primary:active.focus,
.btn.btn-primary:active:focus,
.btn.btn-primary:active:hover {
    color: #fff;
    background-color: #0190b0;
    border-color: #0190b0;
    outline: none;
    box-shadow: none;
}

.navbar-brand small {
    display: block;
    font-size: 11px;
    white-space: normal;
    position: absolute;
}

.navbar-brand {
    display: inline-block;
    padding-top: .3000rem;
    padding-bottom: .8125rem;
}

label {
    display: inline-block;
    margin-bottom: 0;
}

@media (max-width: 575.98px) {
    .navbar-brand small {
        display: none;
    }
}